<h2>Manager</h2>
<h3>View Order History</h3>

<table>
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Time Created</th>
      <th>Pickup Time</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Size</th>
      <th>Toppings</th>
      <th>Ready for Pickup?</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if order.ready === true %>
        <% is_ready = "Yes" %>
        <% elsif order.ready === false %>
        <% is_ready = "No" %>
      <% end %>
      <tr>
        <td><%= order.created_at.getlocal.strftime("%m-%d") %></td>
        <td><%= order.created_at.getlocal.strftime("%H:%M") %></td>
        <td><%= order.pickup[11..15] %></td>
        <td><%= order.name %></td>
        <td><%= order.phone.insert(0, '(').insert(4, ') ').insert(9, ' ') %></td>
        <td><%= order.size %></td>
        <td><%= order.toppings %></td>
        <td><%= is_ready %></td>
      </tr>
    <% end %>
  </tbody>
</table>
