<h2>Baker</h2>
<h3>View & Update Order Status</h3>

<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Pickup Time</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Size</th>
      <th scope="col">Toppings</th>
      <th scope="col">Ready for Pickup?</th>
      <th scope="col">Edit Order</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.pickup[5..9] %></td>
        <td><%= order.pickup[11..15] %></td>
        <td><%= order.name %></td>
        <td><%= order.phone.insert(0, '(').insert(4, ') ').insert(9, ' ') %></td>
        <td><%= order.size %></td>
        <td><%= order.toppings %></td>
        <td><%= is_ready(order.ready?) %></td>
        <td><%= link_to "Edit", edit_order_path(order.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
