<h2>Cashier</h2>
<h3>Place a New Order</h3>

<div>
  <%= form_for @order, url: "/orders", method: "post" do |f| %>
    <div class="form-input">
      <%= f.label "Name:" %>
      <%= f.text_field :name, required: "true", minlength: 1 %>
    </div>
    <div class="form-input">
      <%= f.label "Phone:" %>
      <%= f.text_field :phone, required: "true", minlength: 10 %>
    </div>
    <div class="form-input">
      <%= f.label "Pickup Time (23:59):" %>
      <%= f.text_field :time, required: "true" %>
    </div>
    <div class="form-input">
      <%= f.label "Size:" %>
      <%= f.select :size, ['Small', 'Medium', 'Large']%>
    </div>
    <div class="form-input">
      <%= f.label "Toppings:" %>
      <%= f.select :toppings, ['Cheese', 'Pepperoni', 'Hawaiian', 'Veggie']%>
    </div>
    <div class="form-input">
      <%= f.submit "Save Order" %>
    </div>
  <% end %>
</div>
