<h2>Order</h2>

<table>
  <thead>
    <tr>
      <th>Pickup</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Size</th>
      <th>Toppings</th>
      <th>Ready for Pickup?</th>
    </tr>
  </thead>

  <tbody>
    <% if @order.ready === true %>
      <% is_ready = "Yes" %>
      <% elsif @order.ready === false %>
      <% is_ready = "No" %>
    <% end %>
    <tr>
      <td><%= @order.pickup[11..15] %></td>
      <td><%= @order.name %></td>
      <td><%= @order.phone.insert(0, '(').insert(4, ') ').insert(9, ' ') %></td>
      <td><%= @order.size %></td>
      <td><%= @order.toppings %></td>
      <td><%= is_ready %></td>
    </tr>
  </tbody>
</table>
